<html>
  <head>
    <meta charset="utf-8"/>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    <div>Microblog: <a href="/index">Home</a>
    {% if g.user.is_authenticated %}
    | <a href="{{ url_for('user',nickname = g.user.nickname) }}">Your Profile</a>
    | <a href="{{url_for('logout')}}">Logout</a>
    {% endif %}
    </div>
    <hr>
      <!-- start-->
      <!-- 显示flash中的内容，用作用户反馈 -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <!-- end -->
    <!--block块定义派生模板可以插入的地方-->
    {% block content %}{% endblock %}
  </body>
</html>